@import 'vars';
@import 'mixins';
@import 'font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,600';

$color-primary: $color-accent4-bg;

img {
	max-width: 90vw;
	}

.center-parent {
	text-align: center;
	}

.center {
	margin-left: auto;
	margin-right: auto;
	}

.half {
	width: 50%;
	}

.clear-left {
	clear: left;
	}

#header {
	#logo {
		color: $color-primary;
		}
	}

#header, #titleBar {
	opacity: 0.8;
	@include transition(opacity 0.5s);
	&:hover {
		opacity: 1;
		}
	}

.logo-image {
	width: 2em;
	height: auto;
	vertical-align: middle;
	padding-right: 1px;
	}

#footer {
	@extend .center-parent;
	.copyright {
		font-size: 1.1em;
		.name {
			color: $color-primary;
			}
		}
	.icons {
		a {
			padding: 0.15em;
			font-size: 3em;
			color: white;
			@include transition(color 0.3s);
			&:hover {
				color: $color-primary;
				
				}
			img {
				width: 1em;
				height: auto;
				@include vendor-property(filter, grayscale(50%));
				@include vendor-only(transition, filter 0.3s);
				&:hover {
					@include vendor-property(filter, none);
					}
				}
			}
		}
	}

#banner {
	min-height: 100vh;
	max-height: 100vh;
	background-image: url("../images/earth.jpg");
	}

.spotlight {
	.image img {
		border-radius: inherit;
		}
	}

.contents-table {
	a {
		font-size: 16pt;
		color: white;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		@include transition(border-color 0.3s);
		&:hover, &:focus {
			color: white;
			border-color: white;
			}
		&:after {
			content: "\a";
			white-space: pre; 
			}
		}
	}

.toggler {
	font-size: 50px;
	color: white;
	@include transition(color 0.3s);
	&:hover {
		color: $color-primary;
		}
	}

.float-left {
	float: left;
	}

.float-right {
	float: right;
	}

.expanding-group {
	max-height: 30vh;
	overflow-y: scroll;
	}

#state-info {
	float: right;
	div {
		overflow: hidden;
		display: none;
		&.active {
			display: block;
			}
		}
	}

@media (max-width: 768px) {
	#titleBar .title span {
		display: none;
		}
	}
