@import 'vars';
@import 'mixins';

/*
	Cogent by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

	header.major {
		margin-bottom: $size-element-margin;
	}

	h2 {
		font-size: 1.55em;
	}

	h3 {
		font-size: 1.15em;
	}

	h4 {
		font-size: 1em;
	}

/* Box */

	.box {
		&.big {
			@include padding(2em, 1.5em);

			header.major {
				padding-top: 0.5em
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		&.big {
			font-size: 1em;
			line-height: 2.85em;
		}
	}

/* Plans */

	.plans {
		margin-bottom: $size-element-margin;
	}

	.plan {
		max-width: 75%;
	}

/* Browser Mockup */

	.browser-mockup {
		margin-top: 3em;

		.chrome {
			font-size: 0.8em;
		}
	}

/* Wrapper */

	.wrapper {
		@include padding(3em, 0);
	}

/* Banner */

	#banner {
		padding: 6.5em 2em 0;

		h2 {
			font-size: 1.6em;
		}

		p {
			font-size: 1em;
		}
	}

/* Main */

	#main {
		padding-top: 1.5em;
	}

/* Footer */

	#footer {
		@include padding(3em, 0);

		.copyright {
			margin-top: 0;

			li {
				border-left: 0;
				display: block;
				line-height: 2.5;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}